.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  margin-top: 2.5rem;

  .content-container {
    margin-top: 0rem;
    margin-bottom: 2.5rem;
  }

  .contents {
    max-width: 50vw;
    @media (max-width: 768px) {
      max-width: 85vw;
    }
    
    p {
      padding: 1rem;
      font-size: 1.5rem;
      text-indent: 5%;
      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }

  }
}
