.card {
  margin: 1rem;
  border: solid;
  padding-top: 2rem;
  padding-bottom: 0rem;
  width: 35rem;
  border-radius: 2rem;
  text-align: center;


  .title {
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;

    @media (max-width: 1500px) {
      font-size: 2.2rem;
    }

    @media (max-width: 1000px) {
      font-size: 1.8rem;
    }
  }
  
  .description {
    text-align: left;
    margin: 2rem;
    font-size: 1.5rem;
    height: 10rem;
    margin-bottom: 1rem;

    @media (max-width: 1500px) {
      font-size: 1.2rem;
      height: 7rem;
      margin-bottom: 3rem;
      
    }

    @media (max-width: 1000px) {
      font-size: 1rem;
    }
  }

  .fineprint {
    height: 1rem;

    @media (max-width: 1500px) {
      font-size: .8rem;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .tools{
    @media (max-width: 1500px) {
      font-size: .8rem;
    }
  }


  .btn {
    aspect-ratio: 14/4;
    margin-right: 1rem;
    place-items: center;
    padding: 1em 1em;
    border: 0.15px solid;
    border-radius: 2.5rem;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.2s;

    &:hover {
      color: rgb(76, 202, 190);
    }
  }
}
