.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #F7D08A;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 1;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
    opacity: 1;

    @media (max-width: 768px) {
      width: 20rem;
      margin-left: 5rem;
    }

    .tools{
      text-align: left;
      font-size: .8rem;
    }

    .description{
      text-align: left;
    }
    .fineprint{
      font-size: .7rem;
      text-align: left;
    }
  }