.contact-info {
  display: flex;
  justify-content: center;
  align-items: baseline;

  .icons {
    padding-top: 5rem;
    z-index: 1;
    @media (max-width: 768px) {
      padding-top: 2rem;
    }
    .icon {
      margin: 2rem;
      cursor: pointer;
      color: #fca311;
      transition: 0.3s;

      &:hover {
        color: #14213d;
      }
    }
  }
}
