.blurred{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    background-color: #fca311;
    opacity: .7;
    width: 50vw;

    @media (max-width: 768px) {
        width: 85vw;
      }
}

.colorChange{
  transition: .3s;
  background-color: #14213d;
  
}