.footer-container{
    position: relative;
    background-color: black;
    height: 10rem;
    margin-top: 5rem;
    color: grey;
    display: flex;
    justify-content: end;

    @media (max-width: 833px) {
        height: 100%;
      }
    
    .footer-nav{
        margin: 2rem;
        display: flex;
        flex-direction: row;

        @media (max-width: 833px) {
            flex-direction: column;
          }
    }
     
    .footer-items{
        cursor: pointer;
        margin: 1rem;
        margin-right: 2rem;
    }
}