*{
  font-family: 'Lato', sans-serif;
}

.background-image{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  z-index: 999;

}

.layered {
  display: grid;
}

.layered > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}