.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15vh;
  flex-direction: column;

  .content-container {
    margin-top: 7rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #14213d;
      transition: 0.3s;

      &:hover {
        color: #fca311;
      }

      .description {
        margin-top: 1rem;
      }
    }
  }
}
